  /* Make the div yellow */
  .shaky {
    animation: shake 0s 1s;
  }

  /* Define the shaky animation */
  @keyframes shake {
    0% {
      transform: translate(5px, 0px) rotate(0deg);
    }
    10% {
      transform: translate(-5px, 0px) rotate(0deg);
    }
    20% {
      transform: translate(-15px, 0px) rotate(0deg);
    }
    30% {
      transform: translate(15px, 0px) rotate(0deg);
    }
    40% {
      transform: translate(5px, 0px) rotate(0deg);
    }
    50% {
      transform: translate(-5px, 0px) rotate(0deg);
    }
    60% {
      transform: translate(-15px, 0px) rotate(0deg);
    }
    70% {
      transform: translate(15px, 0px) rotate(0deg);
    }
    80% {
      transform: translate(-5px, 0px) rotate(0deg);
    }
    90% {
      transform: translate(5px, 0px) rotate(0deg);
    }
    100% {
      transform: translate(-5px, 0px) rotate(0deg);
    }
  }